// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #e0f2f1;
	color: #1b5e20;

	.multi-line {
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

/**
* datatables
*/
#data-tables {
	.nama-link {
		color: rgb(17, 36, 77);
		cursor: pointer;
	}

	@media screen and (max-width: 480px) {
		tbody > tr:nth-child(odd) > td {
			padding: 4px;
		}
		tbody > tr:nth-child(even) > td {
			padding: 4px;
		}
	}
}

/**
* vue uploader
*/
.vicp-img {
	max-width: unset !important;
}

@media (max-width: 640px) {
	.vicp-wrap {
		width: 100% !important;
		max-width: 400px;
		height: auto !important;
		max-height: 450px;
		border-radius: 5px !important;
	}

	.vicp-step2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.vicp-crop {
		margin-left: auto;
		margin-right: auto;
	}

	.vicp-crop-left {
		display: block !important;
		float: none !important;
	}

	.vicp-crop-right {
		display: block !important;
		float: none !important;
	}

	.vicp-preview {
		height: auto !important;
		display: flex;
		justify-content: center;
	}

	.vicp-preview-item {
		display: inline-block;
	}

	.vicp-close {
		right: 5px !important;
	}
}
